<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: pagu-nav"></div>
    <div id="board-list-body">
        <div id="register-board-div" class="align-right">
            <a href='#' onClick='' class="btn btn-success">스터디 등록하기</a>
        </div>
        <table class="table table-striped table-hover">
            <thead>
            <!--     table header      -->
            <tr>
                <th>no</th>
                <th>title</th>
                <th>location</th>
                <th>writer</th>
                <th>reg date</th>
                <th>tag</th>
                <th>status</th>
            </tr>
            <!--     table header end      -->
            </thead>
            <tbody>

            <!--     table row      -->
            <tr th:each="boardNumber : ${#numbers.sequence(1, 10)}">
                <td th:text="${boardNumber}">0</td>
                <div th:replace="fragments :: boards-head-example"></div>
            </tr>
            <!--     table row end      -->
            </tbody>
        </table>

        <div id="search-bar">
            <!-- Example single danger button -->
            <div class="btn-group">
                <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    제목
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">제목</a>
                    <a class="dropdown-item" href="#">주제+기술</a>
                    <a class="dropdown-item" href="#">상태</a>
                </div>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="검색어를 입력해주세요." aria-label="search keyword.." aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
            </div>

        </div>
        <div id="paginationBox">
            <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#" onClick="fn_prev('${pagination.page}', '${pagination.range}', '${pagination.rangeSize}')">Previous</a></li>
                <li class="page-item active"><a class="page-link" href="#" onClick="">1</a></li>
                <li class="page-item"><a class="page-link" href="#" onClick="">2</a></li>
                <li class="page-item"><a class="page-link" href="#" onClick="">3</a></li>
                <li class="page-item"><a class="page-link" href="#" onClick="">4</a></li>
                <li class="page-item"><a class="page-link" href="#" onClick="">5</a></li>
                <li class="page-item"><a class="page-link" href="#" onClick="">6</a></li>
                <li class="page-item"><a class="page-link" href="#" onClick="">7</a></li>
                <li class="page-item"><a class="page-link" href="#" onClick="">8</a></li>
                <li class="page-item"><a class="page-link" href="#" onClick="">9</a></li>
                <li class="page-item"><a class="page-link" href="#" onClick="">10</a></li>

                <li class="page-item">
                    <a class="page-link" href="#" onClick="" >Next</a>
                </li>
            </ul>

        </div>

    </div>
</body>
</html>