<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
    <div th:replace="fragments :: pagu-nav"></div>
    <div id="header-txt-div">
                <span id="header-txt">
                    스터디 모집 공고 수정
                </span>
    </div>
    <div id="board-form-body">
        <form>
            <div class="form-group">
                <label for="title-input">제목</label>
                <input type="text" class="form-control" id="title-input" aria-describedby="titleHelp" placeholder="제목 입력해주세요." />
                <small id="titleHelp" class="form-text text-muted">제목 입력 해주세요.</small>
            </div>
            <div class="form-group">
                <label for="subject-input">주제</label>
                <input type="text" class="form-control" id="subject-input" placeholder="주제 입력해주세요." />
            </div>

            <div class="form-group">
                <label for="goal-input">목표</label>
                <input type="text" class="form-control" id="goal-input" placeholder="목표 입력해주세요." />
            </div>
            <div class="form-group">
                <label for="place-input">장소</label>
                <input type="text" class="form-control" id="place-input" placeholder="목표 입력해주세요." />
            </div>
            <div class="form-group">
                <label for="time-table">시간</label>
                <div>
                    <table id="time-table">
                        <thead>
                        <!--     table header      -->
                        <tr>
                            <th><button class="day-butt" type="button" id="day-0">월</button></th>
                            <th><button class="day-butt" type="button" id="day-1">화</button></th>
                            <th><button class="day-butt" type="button" id="day-2">수</button></th>
                            <th><button class="day-butt" type="button" id="day-3">목</button></th>
                            <th><button class="day-butt" type="button" id="day-4">금</button></th>
                            <th><button class="day-butt" type="button" id="day-5">토</button></th>
                            <th><button class="day-butt" type="button" id="day-6">일</button></th>
                        </tr>
                        <!--     table header end      -->
                        </thead>
                        <tbody>
                        <tr>
                            <td id="time-0"></td>
                            <td id="time-1"></td>
                            <td id="time-2"></td>
                            <td id="time-3"></td>
                            <td id="time-4"></td>
                            <td id="time-5"></td>
                            <td id="time-6"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="form-group">
                <label for="recruitment-term-div">모집 기간</label>
                <div id="recruitment-term-div"><input type="date" /> ~ <input type="date" /></div>
            </div>

            <div class="form-group">
                <label for="study-term-div">스터디 기간</label>
                <div id="study-term-div"><input type="date" /> ~ <input type="date" /></div>
            </div>
            <div class="form-group">
                <label for="study-status-div">모집 상태</label>
                <div id="study-status-div">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            모집 중
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">모집 중</a>
                            <a class="dropdown-item" href="#">모집 마감</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="etc-input">기타 사항</label>
                <textarea id="etc-input" class="form-control" cols="50" rows="10"></textarea>
            </div>

            <div class="form-group">
                <label for="study-img">스터디 관련 이미지</label>
                <input type="file" class="form-control-file" id="study-img" multiple />
            </div>
            <div class="align-center">
                <button type="submit" class="btn btn-primary btn-lg">공고 수정</button>
            </div>
        </form>
    </div>

    <!-- Time Form Modal -->
    <div class="modal fade" id="timeFormModal" tabindex="-1" aria-labelledby="timeFormModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <span id="md-day-span"></span><span>요일 스터디 시간 입력</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <input type="hidden" id="md-day-input" />
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="start-time-input">시작 시간</label>
                        <input type="time" step="600" required class="form-control" id="start-time-input" />
                    </div>

                    <div class="form-group">
                        <label for="end-time-input">종료 시간</label>
                        <input type="time" step="600" required class="form-control" id="end-time-input" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="time-delete-butt">삭제</button>
                    <button type="button" class="btn btn-primary" id="time-register-butt">등록</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal end-->
    <script src="/js/board-form.js"></script>
</body>
</html>
