<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments :: head"></head>

<link href="/css/profile.css" rel="stylesheet" type="text/css" media="screen"/>
<body>
<div th:replace="fragments :: pagu-nav"></div>
<div class="container">
    <!-- 본문 -->
    <div class="container">
        <div class="tab-content p-4 p-md-5" id="menu-tap-content col-8">
            <!-- 프로필 정보 -->
            <div class="tab-pane fade show active" id="profile" role="tabpanel"
                 aria-labelledby="profile-info-tab">
                <h3 class="mb-4">프로필 정보</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div id="img-box">
                            <img
                                th:if="${!#strings.isEmpty(profileRequestDto.profileImageUrl)}"
                                th:src="${profileRequestDto.profileImageUrl}"
                                class="profile-img"
                            />
                            <svg
                                th:if="${#strings.isEmpty(profileRequestDto.profileImageUrl)}"
                                th:data-jdenticon-value="${profileRequestDto.nickname}"
                                class="profile-image"
                            ></svg>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <!-- 닉네임 -->
                        <div class="form-group">
                            <label>닉네임</label>
                            <div class="form-control">
                                <span style="font-weight: bold"
                                      th:text="*{profileRequestDto.nickname}"/>
                            </div>
                        </div>
                        <!-- 포지션 -->
                        <div class="form-group">
                            <label>포지션</label>
                            <div class="form-control">
                                <span th:text="*{profileRequestDto.position}"/>
                            </div>
                        </div>
                        <!-- 경력 -->
                        <div class="form-group">
                            <label>경력</label>
                            <div class="form-control">
                                <span th:text="*{profileRequestDto.career}"/>
                            </div>
                        </div>
                        <!-- 링크 -->
                        <div class="form-group">
                            <label>링크</label>
                            <div class="form-control">
                                <span th:text="*{profileRequestDto.link}"/>
                            </div>
                        </div>
                    </div>
                    <!-- 자기소개 -->
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>자기소개</label>
                            <div class="form-control">
                                <span th:text="*{profileRequestDto.info}"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>