<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/board-list.css" rel="stylesheet" type="text/css" media="screen">
</head>
<body>
<div id="board-list-body">
    <div id="register-board-div" class="align-right">
        <a href='#' onClick='' class="btn btn-success">스터디 등록하기</a>
    </div>
    <table class="table table-striped table-hover">
        <thead>
        <!--     table header      -->
        <tr>
            <th>no</th>
            <th>title</th>
            <th>location</th>
            <th>writer</th>
            <th>reg date</th>
            <th>tag</th>
            <th>status</th>
        </tr>
        <!--     table header end      -->
        </thead>
        <tbody>

        <!--     table row      -->
        <tr>
            <td>1</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-success active">모집중</button>
            </td>
        </tr>
        <!--     table row end      -->
        <tr>
            <td>2</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-warning active">모집마감</button>
            </td>
        </tr>
        <tr>
            <td>3</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-success active">모집중</button>
            </td>
        </tr>
        <tr>
            <td>4</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-success active">모집중</button>
            </td>
        </tr>
        <tr>
            <td>5</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-success active">모집중</button>
            </td>
        </tr>
        <tr>
            <td>6</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-success active">모집중</button>
            </td>
        </tr>
        <tr>
            <td>7</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-success active">모집중</button>
            </td>
        </tr>
        <tr>
            <td>8</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-success active">모집중</button>
            </td>
        </tr>
        <tr>
            <td>9</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-success active">모집중</button>
            </td>
        </tr>
        <tr>
            <td>10</td>
            <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
            <td><span>강남역 인근 ...</span></td>
            <td>nickname</td>
            <td>2021-03-21 12:30:00</td>
            <td class="align-center">
                <button type="button" class="btn btn-primary btn-sm active">Web</button>
                <button type="button" class="btn btn-primary btn-sm active">Backend</button>
                <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            </td>
            <td class="align-center">
                <button type="button" class="btn btn-success active">모집중</button>
            </td>
        </tr>
        </tbody>
    </table>

    <div id="search-bar">
        <!-- Example single danger button -->
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                제목
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">제목</a>
                <a class="dropdown-item" href="#">주제+기술</a>
                <a class="dropdown-item" href="#">상태</a>
            </div>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="검색어를 입력해주세요." aria-label="search keyword.." aria-describedby="basic-addon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">Search</button>
            </div>
        </div>

    </div>
    <div id="paginationBox">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#" onClick="fn_prev('${pagination.page}', '${pagination.range}', '${pagination.rangeSize}')">Previous</a></li>
            <li class="page-item active"><a class="page-link" href="#" onClick="">1</a></li>
            <li class="page-item"><a class="page-link" href="#" onClick="">2</a></li>
            <li class="page-item"><a class="page-link" href="#" onClick="">3</a></li>
            <li class="page-item"><a class="page-link" href="#" onClick="">4</a></li>
            <li class="page-item"><a class="page-link" href="#" onClick="">5</a></li>
            <li class="page-item"><a class="page-link" href="#" onClick="">6</a></li>
            <li class="page-item"><a class="page-link" href="#" onClick="">7</a></li>
            <li class="page-item"><a class="page-link" href="#" onClick="">8</a></li>
            <li class="page-item"><a class="page-link" href="#" onClick="">9</a></li>
            <li class="page-item"><a class="page-link" href="#" onClick="">10</a></li>

            <li class="page-item">
                <a class="page-link" href="#" onClick="" >Next</a>
            </li>
        </ul>

    </div>

</div>
</body>


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>