<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link href="/css/board-detail.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="board-detail-wrapper">
    <div id="board-detail-header">
        <table>
            <thead>
            <tr>
                <th class="padding-left">
                    <span id="title-span">~~~~~~~~~ 스터디 모집합니다.</span>
                </th>
                <th class="align-right">
                    <button type="button" class="btn btn-success btn-lg active">모집중</button>
                </th>
                <th class="padding-right">
                    <div class="align-right">
                        <img id="profile-img" src="//www.gravatar.com/avatar/1bbf97a7b3196de80d0e29223ba0b30c?d=identicon&s=10" />
                        <a href=""><span id="nickname-span">닉네임</span></a>
                    </div>
                    <div class="align-right"><span id="reg-date-span">2021-03-27 18:53:11</span></div>
                </th>
            </tr>
            </thead>
        </table>
    </div>
    <div id="board-detail-body">
        <div class="board-info">
            <span class="board-info-field">주제: </span>
            <button type="button" class="btn btn-primary btn-sm active">Web</button>
            <button type="button" class="btn btn-primary btn-sm active">Backend</button>
        </div>
        <div class="board-info">
            <span class="board-info-field">기술: </span>
            <button type="button" class="btn btn-primary btn-sm active">Spring</button>
            <button type="button" class="btn btn-primary btn-sm active">JPA</button>
            <button type="button" class="btn btn-primary btn-sm active">Docker</button>
        </div>
        <div class="board-info">
            <span class="board-info-field">목표</span>
            <div class="board-info-value">
                        <span class="board-info-value-span">
                            Spring mvc, JPA의 대한 학습 및 취업용 포르폴리오 제작
                        </span>
            </div>
        </div>
        <div class="board-info">
            <span class="board-info-field">장소</span>
            <div class="board-info-value">
                        <span class="board-info-value-span">
                            강남역 인근 스터디룸
                        </span>
            </div>
        </div>

        <div class="board-info">
            <span class="board-info-field">시간</span>
            <div class="board-info-value">
                        <span class="board-info-value-span">
                            수요일 : 10:30 ~ 12:30
                        </span>
                <br />
                <span class="board-info-value-span">
                            금요일 : 12:00 ~ 14:00
                        </span>
            </div>
        </div>
        <div class="board-info">
            <span class="board-info-field">모집 기간</span>
            <div class="board-info-value">
                        <span class="board-info-value-span">
                            2021-03-27 ~ 2021-04-07
                        </span>
            </div>
        </div>
        <div class="board-info">
            <span class="board-info-field">스터디 기간</span>
            <div class="board-info-value">
                        <span class="board-info-value-span">
                            2021-04-08 ~ 2021-05-31
                        </span>
            </div>
        </div>
        <div class="board-info">
            <span class="board-info-field">기타 사항</span>
            <div class="board-info-value">
                        <textarea rows="10" disabled>
                        ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

                        </textarea>
            </div>
        </div>
        <div class="board-info">
            <span class="board-info-field">스터디 관련 이미지</span>
            <div class="board-info-value">
                <img src="/image/image-tmp.png" />
            </div>
        </div>
    </div>
</div>
<div id="board-comment-wrapper">
    <div class="board-comment-list">
        <div class="board-comment-header">
            <div class="board-comment-img-div">
                <img style="width: 3em; height: 3em;" src="//www.gravatar.com/avatar/1bbf97a7b3196de80d0e29223ba0b30c?d=identicon&s=10" />
            </div>
            <div class="board-comment-nick-div">
                <a href=""><span>닉네임</span></a>
                <br />
                <span>2021-03-28 09:53:02</span>
            </div>
        </div>
        <div class="board-comment-body">
            <p class="board-comment-p">~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
        </div>
    </div>
    <div class="board-comment-list">
        <div class="board-comment-header">
            <div class="board-comment-img-div">
                <img style="width: 3em; height: 3em;" src="//www.gravatar.com/avatar/1bbf97a7b3196de80d0e29223ba0b30c?d=identicon&s=10" />
            </div>
            <div class="board-comment-nick-div">
                <a href=""><span>닉네임</span></a>
                <br />
                <span>2021-03-28 09:53:02</span>
            </div>
        </div>
        <div class="board-comment-body">
            <p class="board-comment-p">~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
        </div>
    </div>
    <div class="board-comment-list">
        <div class="board-comment-header">
            <div class="board-comment-img-div">
                <img style="width: 3em; height: 3em;" src="//www.gravatar.com/avatar/1bbf97a7b3196de80d0e29223ba0b30c?d=identicon&s=10" />
            </div>
            <div class="board-comment-nick-div">
                <a href=""><span>닉네임</span></a>
                <br />
                <span>2021-03-28 09:53:02</span>
            </div>
        </div>
        <div class="board-comment-body">
            <p class="board-comment-p">~~~~~~~~~~~~~~!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
        </div>
    </div>
    <div class="board-comment-write">
        <div class="board-comment-header">
            <div class="board-comment-img-div">
                <img style="width: 3em; height: 3em;" src="//www.gravatar.com/avatar/1bbf97a7b3196de80d0e29223ba0b30c?d=identicon&s=10" />
            </div>
            <div class="board-comment-nick-div">
                <a href=""><span>닉네임</span></a>
            </div>
        </div>
        <div class="board-comment-body">
            <textarea class="board-comment-text" rows="5" placeholder="문의하기..."></textarea>
            <div class="align-right">
                <button type="button" class="btn btn-primary">등록</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>
