<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head">
    <meta charset="UTF-8">
    <title>PAGU</title>
    <link href="/static/css/pagu-nav.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/css/pagu-nav.css" rel="stylesheet">
    <link href="/css/main-body.css" rel="stylesheet" type="text/css" media="screen">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    <div th:fragment="pagu-nav">
        <!--todo: 타임리프 연동하여 로그인시 메뉴 상태 변경, 검색 기능 추가, fragment로 분리-->
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- 로고 -->
            <a class="navbar-brand" th:href="@{/}"> PAGU</a>
            <!-- 화면 줄어들었을 때 -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <!-- 검색창 -->
                <div class="form-box">
                    <form class="form-inline my-2 my-lg-0 navbar-form mr-auto">
                        <div class="input-group input-group-search mx-auto">
                            <input type="search" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-button-addon" />
                            <button class="btn btn-" type="submit" id="search-button-addon">&#128269;</button>
                        </div>
                    </form>
                </div>
                <!-- 메뉴 -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">SignUp</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">MyPage</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>

    <div th:fragment="board-head-example">
        <li class="list-group-item list-group-small">
            <div>
                <div style="float: left;">
                    <a href="">
                        <span class="list-field">
                            여기는 스터디 제목~~~
                        </span>
                    </a>
                </div>
                <div style="float: right;">
                    <img class="list-profile-img" src="//www.gravatar.com/avatar/1bbf97a7b3196de80d0e29223ba0b30c?d=identicon&s=10">
                    <a href="">
                        <span class="list-field">
                            닉네임
                        </span>
                    </a>
                    <span class="list-field list-write-time">
                        2021-03-19 오후 3시 34분
                    </span>
                </div>
            </div>
        </li>
    </div>

    <div th:fragment="boards-head-example">
        <td><a href='#'><span>여기는 스터디 제목~~~~~~~</span></a></td>
        <td><span>강남역 인근 ...</span></td>
        <td>nickname</td>
        <td>2021-03-21 12:30:00</td>
        <td class="align-center">
            <button type="button" class="btn btn-primary btn-sm active">Web</button>
            <button type="button" class="btn btn-primary btn-sm active">Backend</button>
            <button type="button" class="btn btn-primary btn-sm active">JPA</button>
        </td>
        <td class="align-center">
            <button type="button" class="btn btn-success active">모집중</button>
        </td>
    </div>


</body>
</html>