<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:fragment="head">
    <meta charset="UTF-8" />
    <title>PAGU</title>
    <link href="/css/pagu-nav.css" rel="stylesheet" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link href="/css/main-body.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/css/board-detail.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/css/board-form.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="/css/sign-style.css" rel="stylesheet" type="text/css" media="screen" />
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/node_modules/jdenticon/dist/jdenticon.min.js"></script>
<!--    <script src="/node_modules/popper/dist/umd/popper.min.js"></script>-->
    <script src="/node_modules/bootstrap-tagsinput/dist/bootstrap-tagsinput.js"></script>
    <meta id="_csrf" name="_csrf" th:content="${_csrf.token}"/>
    <meta id="_csrf_header" name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>
<body>
<div th:fragment="pagu-nav">
    <!--todo: 타임리프 연동하여 로그인시 메뉴 상태 변경, 검색 기능 추가, fragment로 분리-->
    <nav class="navbar navbar-expand-lg navbar-light">
        <!-- 로고 -->
        <a class="navbar-brand" th:href="@{/}"> PAGU</a>
        <!-- 화면 줄어들었을 때 -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- 검색창 -->
            <div class="form-box">
                <form th:action="@{/boards/search}" class="form-inline my-2 my-lg-0 navbar-form mr-auto">
                    <div class="input-group input-group-search mx-auto">
                        <input type="search" th:name="keyword" class="form-control" placeholder="Search..." aria-label="Search" aria-describedby="search-button-addon" />
                        <button class="btn btn-" type="submit" id="search-button-addon">&#128269;</button>
                    </div>
                </form>
            </div>
            <!-- 메뉴 -->
            <ul class="navbar-nav ml-auto">
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/login}">Login</a>
                </li>
                <li sec:authorize="!isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/sign-up}">SignUp</a>
                </li>
                <li sec:authorize="isAuthenticated()" class="nav-item">
                    <a class="nav-link" href="#" th:href="@{/profile}">MyPage</a>
                </li>
                <li sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post">
                        <button class="nav-button" type="submit">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div th:fragment="board-head-example">
    <li class="list-group-item list-group-small">
        <div>
            <div style="float: left;">
                <a th:href="@{/boards/1}">
                            <span class="list-field">
                                여기는 스터디 제목~~~
                            </span>
                </a>
            </div>
            <div style="float: right;">
                <img class="list-profile-img" src="//www.gravatar.com/avatar/1bbf97a7b3196de80d0e29223ba0b30c?d=identicon&s=10" />
                <a href="">
                            <span class="list-field">
                                닉네임
                            </span>
                </a>
                <span class="list-field list-write-time">
                            2021-03-19 오후 3시 34분
                        </span>
            </div>
        </div>
    </li>
</div>
<div th:fragment="boards-head-example">
    <td>
        <a th:href="@{/boards/1}"><span>여기는 스터디 제목~~~~~~~</span></a>
    </td>
    <td><span>강남역 인근 ...</span></td>
    <td>nickname</td>
    <td>2021-03-21 12:30:00</td>
    <td class="align-center">
        <button type="button" class="btn btn-primary btn-sm active">Web</button>
        <button type="button" class="btn btn-primary btn-sm active">Backend</button>
        <button type="button" class="btn btn-primary btn-sm active">JPA</button>
    </td>
    <td class="align-center">
        <button type="button" class="btn btn-success active">모집중</button>
    </td>
</div>
</body>
</html>
